article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: lightgrey;
}

.App {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

form {
  margin-top: 30px;
}

.App > div {
  margin-top: 25px;
}

form input[type="text"] {
  width: 70%;
  margin: 0 10px;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid black;
  background: lightgrey;
}

form button,
.csv-download a {
  background: black;
  text-decoration: none;
  color: white;
  border: 0;
  padding: 7.5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-gap: 5px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.grid-container div,
.course-name-container div {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}

.grid-container div input {
  width: 100%;
}

.grid-header {
  background: black;
  color: white;
}

label {
  margin-right: 10px;
}

.App > button {
  width: 100%;
  padding: 7.5px;
  background: black;
  color: white;
  border: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}

.success {
  font-weight: bold;
}

.success span {
  color: green;
}

svg {
  margin-right: 5px;
}

.course-name-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  grid-gap: 5px;
  margin-bottom: 30px;
}

@keyframes loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset::before {
  height: 10px;
  content: "";
  display: block;
  background-image: linear-gradient(to right, black 0%, white 50%, black 100%);
  margin-bottom: 20px;
}

fieldset[aria-busy="true"]::before {
  background-size: 50% auto;
  animation: loading 0.5s linear infinite;
}

.error span,
.csv-download span {
  font-weight: bold;
  color: red;
}

.course-id span {
  font-weight: bold;
  margin-right: 10px;
}

.long-name {
  color: red;
}

.error-container {
  border: 1px solid red;
  padding: 15px;
}

.login-container {
  display: grid;
  grid-template-columns: 5.5fr 5.5fr 1fr;
  grid-gap: 20px;
}

.login-container input,
.login-container button {
  width: 100%;
}
